header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

body {
    font-family: Arial, sans-serif;
}
footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 0.8em;
    color: #888;
}

#copyright{
    font-weight: bold;
    color: black;
}
.search_bar{
    border: 1px solid red;
    width: 30rem;
    height: 2rem;
    padding-left: 10px;
}
.search_bar:focus {
    border: 1px solid red;
    outline: none;
}
hr{
    color: gray;
    opacity: 0.3;
}
.Sign_Login{
    text-decoration-line: none;
    color: gray;
}
.Sign_Login:hover{
    text-decoration: none;
    color: black;
}
#nickname{
    color: gray;
}